body {
    background-color: #fca2ff; /* Màu nền nhạt, bạn có thể chỉnh sửa */
    color: #212529; /* Màu chữ */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }