.chat-container {
  border: 1px solid #ddd;
  border-radius: 5px;
}
.message-content {
  max-width: 70%;
  display: inline-block;
}
.message-sender {
  font-size: 0.8em;
  color: #666;
}

.message.user {
  display: flex;
  justify-content: flex-end;
}

.message-content.bg{
  background-color: rgb(255, 63, 185);
}

